<div id="header">
  <div id="filter">
    Filter By: <p-dropdown [options]="filterList" [(ngModel)]="filter"></p-dropdown>
  </div>
  <div id="profile">
    <span *ngIf="user !== undefined">{{user.name}}</span>
    <img *ngIf="emailMD5 !== undefined" src="https://www.gravatar.com/avatar/{{emailMD5}}">
  </div>
</div>

<div id="container">
  <div id="boards" *ngIf="filter === 'none'">
    <p>Boards</p>
    <p-tabMenu [model]="boardMenuItems" [activeItem]="boardMenuItems[0]"></p-tabMenu>
  </div>
  <div class="cards" *ngIf="filter === 'none'">
    <h1 *ngIf="activeBoard !== undefined">{{activeBoard.name}}</h1>
    <div *ngIf="activeBoard !== undefined" class="wrap {{filter}}">
      <div *ngFor="let column of activeBoard.columns" class="column">
        <span>{{column.name}}</span>
        <span>{{getCardsByColumn(column.id).length}} cards</span>

        <div *ngFor="let card of getCardsByColumn(column.id)" class="card">
          <span>{{card.name}}</span>
        </div>
        <div class="add-card">
          <span *ngIf="addCard(column.id) === false" (click)="setAddCard(column.id, true)">Add a card</span>
          <span *ngIf="addCard(column.id) === true">
            <input type="text" pInputText [(ngModel)]="addCardText" placeholder="Type a name for your card..."/>
            <button pButton type="button" label="Cancel" (click)="setAddCard(false)"></button>
            <button pButton type="button" label="Add Card" (click)="addCardHandler(column.id)"></button>
          </span>
        </div>
      </div>
      <div class="add-column {{addColumn()}}">
        <span *ngIf="addColumn() === false" (click)="setAddColumn(true)">Add a column</span>
        <span *ngIf="addColumn() === true">
            <input type="text" pInputText [(ngModel)]="addColumnText" placeholder="Type a name for your column..."/>
            <button pButton type="button" label="Cancel" (click)="setAddColumn(false)"></button>
            <button pButton type="button" label="Add Column" (click)="addColumnHandler()"></button>
          </span>
      </div>
    </div>
  </div>

  <div class="cards" *ngIf="filter === 'my_tasks'">
    <h1>Showing all cards assigned to you</h1>
    <div *ngIf="boards !== undefined" class="wrap {{filter}}">
      <div *ngFor="let board of boards" class="column">
        <span>{{board.name}}</span>
        <span>{{getCardsByBoard(board.id, true).length}} cards</span>
        <div *ngFor="let card of getCardsByBoard(board.id, true)" class="card">
          <span>{{card.name}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

