#header, #boards {
  color: RGBA(180, 201, 207, 1.00);
  text-shadow: 1px 1px 1px RGBA(20, 20, 23, 0.2);
}
#container {
  display: flex;
}
#header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: RGBA(34, 50, 63, 1.00);
  padding: 0 10px;
  border-bottom: 1px solid RGBA(20, 20, 23, 1.00);
}
#header img {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  border-radius: 100%;
  margin: 10px 0 10px 10px;
}
#header span {
  display: inline-block;
  vertical-align: middle;
}
#filter {
  width: 50%;
}
#profile {
  width: 50%;
  text-align: right;
}
#boards {
  width: 250px;
  min-width: 250px;
  height: 100vh;
  background-color: RGBA(34, 50, 63, 1.00);
  border-right: 1px solid RGBA(20, 20, 23, 1.00);
}
#boards p {
  margin: 0;
  padding: 10px;
  font-weight: bold;
  font-size: 12px;
}
.cards h1 {
  color: RGBA(180, 201, 207, 1.00);
  text-shadow: 1px 1px 1px RGBA(20, 20, 23, 0.2);
  padding: 0 20px;
  font-size: 14px;
}
.column {
  display: inline-block;
  vertical-align: top;
  background-color: RGBA(31, 43, 55, 1.00);
  width: 300px;
  margin-right: 15px;
  padding: 5px 10px;
  position: relative;
  border-radius: 2px;
}
.column:first-of-type {
  margin-left: 15px;
}
.column > span {
  text-transform: uppercase;
  color: RGBA(223, 250, 255, 1.00);
  font-size: 14px;
  font-weight: bold;
}
.column > span + span {
  display: block;
  font-weight: 400;
  color: RGBA(78, 115, 123, 1.00);
  text-transform: none;
  font-size: 12px;
  margin-bottom: 15px;
}
.wrap {
  overflow-x: scroll;
  white-space: nowrap;
  width: 100vw;
  height: calc(100vh - 120px);
}
.wrap.none {
  width: calc(100vw - 250px);
}
.card {
  background-color: RGBA(39, 55, 71, 1.00);
  margin: 10px 0;
  white-space: initial;
  font-size: 12px;
  color: RGBA(162, 185, 194, 1.00);
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  padding: 10px 18px 10px 10px;
}
.card:hover, .card.true {
  background-color: RGBA(26, 58, 74, 1.00);
}
.add-card span, .add-column span {
  font-weight: 400;
  color: #28DFF6;
  text-transform: none;
  font-size: 12px;
  margin-bottom: 5px;
  cursor: pointer;
  display: block;
}
.add-card input, .add-column input {
  display: block;
  width: 100%;
  background-color: rgba(0,0,0,0.1) !important;
  color: RGBA(223, 250, 255, 1.00);
  padding: 10px;
  font-size: 14px;
  border: 1px solid RGBA(26, 58, 74, 1.00);
  margin-bottom: 10px;
}
.add-card input::placeholder, .add-column input::placeholder {
  color: RGBA(78, 115, 123, 1.00);
}
.add-column {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  border-radius: 2px;
  margin-bottom: 15px;
  margin-right: 15px;
  cursor: pointer;
}
.add-column.false span {
  padding: 10px;
}
.add-column.false span:hover {
  background-color: RGBA(31, 43, 55, 0.6);
}
.column-buttons,
.card-buttons {
  position: absolute;
  right: 10px;
  top: 10px;
}
.column-buttons span,
.card-buttons span {
  color: #97ABB2;
  cursor: pointer;
}
.column-buttons > span:hover, .column-buttons.true > span,
.card-buttons > span:hover, .card-buttons.true > span {
  color: RGBA(223, 250, 255, 1.00);
}
.column-buttons .dropdown,
.card-buttons .dropdown {
  position: absolute;
  background-color: RGBA(39, 55, 71, 1.00);
  z-index: 3;
  top: 20px;
  display: block;
  right: -145px;
  width: 150px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}
.column-buttons .dropdown span,
.card-buttons .dropdown span {
  display: block;
  padding: 5px 10px;
  font-size: 14px;
}
.column-buttons .dropdown span:first-of-type,
.card-buttons .dropdown span:first-of-type{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.column-buttons .dropdown span:last-of-type,
.card-buttons .dropdown span:last-of-type{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.column-buttons .dropdown span:hover,
.card-buttons .dropdown span:hover{
  background-color: RGBA(26, 58, 74, 1.00);
}
#overlay-dismiss {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}