/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  overflow: hidden;
  background-color: RGBA(27, 33, 38, 1.00);
}
#drag-region {
  -webkit-app-region: drag;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 30px);
  height: 20px;
}
body .ui-button {
  background-color: RGBA(26, 58, 74, 1.00);
  border: RGBA(229, 73, 33, 1.00);
}
body .ui-button:hover {
  background-color: #262633;
}
body .ui-button span {
  background-color: RGBA(26, 58, 74, 0.8) !important;
  border: RGBA(229, 73, 33, 1.00) !important;
}
#close {
  position: fixed;
  left: 0;
  top: 0;
  color: white;
  border: none;
  border-radius: 0;
  background-color: indianred;
  border-bottom-right-radius: 10px;
  font-size: 15px;
  z-index: 2;
  cursor: pointer;
}
#close:hover {
  background-color: red;
}
#menuButton {
  position: fixed;
  left: 0;
  top: 0;
  color: white;
  border: none;
  border-radius: 0;
  background-color: grey;
  border-bottom-right-radius: 10px;
  font-size: 15px;
  z-index: 2;
  cursor: pointer;
}
#menuButton:hover {
  background-color: lightgrey;
}
app-landing:before {
  position: fixed;
  width: 100vw;
  height: 100vh;
  content: '';
  top: 0;
  left: 0;
  z-index: -99;
  background-color: RGBA(27, 33, 38, 1.00)
}

body .ui-table .ui-table-thead > tr > th {
  font-size: 12px;
}
body .ui-tabmenu .ui-tabmenu-nav {
  border: none !important;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
  background-color: transparent !important;
  border: none !important;
  width: 100% !important;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a {
  display: block !important;
  float: none !important;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link .ui-menuitem-text {
  color: RGBA(180, 201, 207, 1.00) !important;
  text-shadow: 1px 1px 1px RGBA(20, 20, 23, 0.2) !important;
  font-size: 12px !important;
  padding-left: 15px !important;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem:hover {
  color: RGBA(180, 201, 207, 1.00) !important;
  text-shadow: 1px 1px 1px RGBA(20, 20, 23, 0.2) !important;
  background-color: RGBA(26, 58, 74, 0.8) !important;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active {
  background-color: RGBA(26, 58, 74, 1.00) !important;
}